
__pycache__/
.DS_Store
.gemini/
.gitignore.swp
.venv/
*.db
*.pyc
**/.DS_Store
# Data
# Generated assets
# Node.js
data/
dist/
logs/
node_modules/
package-lock.json
src/matika/static/js/*.js
plugins/eyerate
